{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'exp_or_not.css' %}">
  <title>Experience Form</title>
  <style>
  
  </style>
</head>
<body>
   <form action="{% url 'expornot' %}" method="get"></form>
  <div class="container">
    <h1>Are you Experienced?</h1>
    <div class="button-group">

 <form action="{% url 'yes' %}" method="get">
      <button class="yes-btn" type="submit">Yes</button>
</form>
      <form action="{% url 'no' %}" method="get">
      <button class="no-btn" type="submit">No</button>
      </form>
    </div>
  </div>
</body>
</html>
