{% load static %}
<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'bootstrap5.css' %}">
    <link rel="stylesheet" href="{% static 'r_page3.css' %}">
<link rel="stylesheet" href="{% static 'https://unpkg.com/aos@next/dist/aos.css' %}" />
</head>
<body>
    <form action="{% url 'edu' %}" method="post">
        {% csrf_token %}
    <div class="container2 container-fluid align-content-center">
    
    <div class="row">
        <div id="head" class="col-md-4 offset-md-4" data-aos="fade-right" data-aos-duration="1500">Educational Informations</div>
        <div class="col-md-4 offset-md-4 col-sm">
        
        <div class="form-group">
            
            <input type="text" class="form-control form-control-md input1" id="inputField" required name="degree">
            <label class="label">Degree</label>
            <small>(eg. B.Tech, BCA, BBA, etc.)</small>
            
            </div>
            
           <div class="form-group">
            
            <input type="text" class="form-control form-control-md input1" id="inputField" required name="inst_name">
            <label class="label">Institution name</label>
            
            </div>
            <div class="form-group">
            
            <input type="text" class="form-control form-control-md input1" id="inputField" required name="location">
            <label class="label">Location</label>
            
            </div>
            
            
           <div class="form-group">
            
            <input type="text" class="form-control input1" onfocus="(this.type='date')" onblur="if(!this.value) this.type='text'" required name="date">
            <label class="label">Graduation Date</label>
            
            
            </div>
            
            
           
                <button class="btn btn-primary offset-md-8 offset-sm-10 offset-lg-9 offset-xxl-10" type="submit" data-aos="fade-left" data-aos-duration="1500">Submit</button>
        </div>
        
        
        
        </div>
    
    
    
    
    
    
    
    </div>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
        offset:2,
    });
      
     
   
  </script>
    </form>
    </body>